/* Variables
/* ---------------------------------------------------------- */

:root {
    color-scheme: dark light;
}

/* Fonts */
$font-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-serif: 'New York', serif;
$font-mono: monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

/* Breakpoints */
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 740px;
$xsmall: 480px;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.5rem;

/* Colours */


$color-body-font: #000000;          //text color
$color-primary: #ff6bc6;
$color-base: #d9ff00;
$color-sub-base: rgb(0, 206, 0);    //text color and hover col of category link buttons
$color-border: #f5f5f7;             //border color
$color-bg: #ffffff;                 // background color
$color-bg-dark: #a88888;
$link-color: #ff0000;               //link color
$color-bg-bright: #00f85f;          //bg color of category link buttons and text on hover

$color-hover-bg: #ffffff;           //home page post card hover and bg for no thumbnail


$color-primary-light: #ff1100;
$color-base-light: rgb(229, 255, 0);
$color-base-light-inverted: #48ff00;
$color-sub-base-light: #fa8500;
$color-border-light: #0011ff;
$color-bg-light: #f700ff;

$color-bg-bright-light: #EDEDED;
$color-bg-dark-light: #131313;
$color-body-font-light: #131313;
$color-body-font-light-2: #000000;
$link-color-light: #0074c1;